<!DOCTYPE html>
<html lang="en">
    <style>
        table, th, td {
                    border: 1px solid black;
                  }
    </style>
<head>
    <meta name="author" content="Thomas Cherian">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Thomas Cherian's professional website">
    <title>Thomas Cherian</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: Arial">
    <header style="color:blue; background:lightblue">
        <h1>Thomas Cherian</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a> 
        </nav>
        
    
    </header>
    <div class="main">
        
            
        <h2>Contact Me</h2>
    </div>
    
    <form action="/action_page.php">
        <label for="fname">Name:</label><br>
        <input type="text" id="fname" name="fname" value=""><br>
        <label for="lname">Email:</label><br>
        <input type="text" id="lname" name="lname" value=""><br><br>
        <label for="fname">Your comment:</label><br>
        <input type="text" id="fname" name="fname" value=""><br>
        <input type="submit" value="Submit">
      </form> 
    <table>
        
        <tr>
          <td>Personal Email</td>
          <td>thomaspcherian@gmail.com</td>
        </tr>
        <tr>
          <td>Buisness Email</td>
          <td> tcherian@f2supplements.com</td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td> 215-983-1558</td>
          </tr>
          <tr>
            <td>LinkedIn</td>
            <td> <a href="https://www.linkedin.com/feed/#C4">Link</a> </td>
                
          </tr>
      </table>

    
    <footer>&copy 2025 designed and coded by Thomas Cherian</footer>

    
</body>
</html>